body{
    font-family: "Georgia", "times", serif;
}
.bg-primary{
    background-color: rgb(7, 71, 166);
}

.color-text-primary{
    color: rgb(222, 235, 255);
}

.color-text-white{
    color:#ffffff;
}

.text-weight-500{
    font-weight: 500;
}

.text-weight-500{
    font-weight: 400;
}

.text-size-md{
    font-size: 24px;
}

.text-size-sm{
    font-size: 14px;
}

.text-size-lg{
    font-size: 54px;
}
