/* NO TOCAR ESTOS ESTILOS */
ul.news {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: arial;
  }
  a {
    color: red;
  }
  ul.news li.news__item {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10px;
  }
  ul.news li.news__item + li.news__item {
    border-top: 1px solid #ccc;
  }
  ul.news li.news__item:nth-child(2n) {
    background: #eee;
  }
  ul.news li.news__item:last-child {
    border-bottom: 1px solid #ccc;
  }
  ul.news li.news__item h2.news__item-title {
    margin: 0 0 .25em;
    font-size: 20px;
  }
  ul.news li.news__item a.news__item-link {
    color: green;
  }
/* NO TOCAR ESTOS ESTILOS */
  
/* Nuevos estilos a partir de esta línea */

/* Por qué los enlaces son verdes y no rojos?
    R/ por que esta especificando que dentro de la lista
    y dentro de los enlaces con la clase especifica tengan un 
    color de verde
*/ 
  
/* Con esto los enlaces cambian a rojo

  ul.news li.news__item a.news__item-link {
    color: red;
  }

*/
  


/* Comentar el CSS que no se puede tocar y reescribirlo usando una clase por selector para que se vea igual.
 */

  div.nuevo {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: arial;
  }
  a {
    color: red;
  }
  div.nuevo div.nuevo__item {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10px;
  }
  div.nuevo div.nuevo__item + div.nuevo__item {
    border-top: 1px solid #ccc;
  }
  div.nuevo div.nuevo__item:nth-child(2n) {
    background: #eee;
  }
  div.nuevo div.nuevo__item:last-child {
    border-bottom: 1px solid #ccc;
  }
  div.nuevo div.nuevo__item h2.nuevo__item-title {
    margin: 0 0 .25em;
    font-size: 20px;
  }
  div.nuevo div.nuevo__item a.nuevo__item-link {
    color: green;
  }
  